<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Control de Pacientes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="js/overlayScrollbars/css/OverlayScrollbars.min.css">

        <!-- DataTables -->
        <link rel="stylesheet" href="js/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="js/datatables-responsive/css/responsive.bootstrap4.min.css">
        
        <!-- Toastr -->
        <link rel="stylesheet" href="js/toastr/toastr.min.css">

        <!-- Select2 -->
        <link rel="stylesheet" href="js/select2/css/select2.min.css">

        <!-- Estilo -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <%- include('navbar'); %>
    
            <%- include('sidebar'); %>
            