<% if (mensaje) { %>
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="alert alert-<%= tipo %> alert-dismissible">
                <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-ban"></i> Atención!</h5>
                <strong><%= mensaje %></strong>
            </div>
        </div>
    </div>
<% } %>