<header>
    <div class="container_12">
        <div class="grid_12">
            <div class="grid_9 alpha">
                <a href="/"><img src="/images/LogoB.png" alt="Logo" style="width: 150px;"></a>
                    <nav>
                        <ul class="sf-menu header_menu">
                            <li><a href="/">Inicio<strong></strong></a></li>
                            <li><a href="/nosotros">Nosotros<strong></strong></a></li>
                            <li><a href="/servicios"><span></span>Servicios<strong></strong></a>
                                <ul class='submenu'>
                                    <li><a href="#">Diseño de sonrisa</a></li>
                                    <li><a href="#">Carillas de Porcelana</a></li>
                                    <li><a href="#">Unión de dientes</a></li>
                                    <li><a href="#">Rellenos Blancos</a></li>
                                    <li><a href="#">Blanqueamiento dental</a></li>
                                </ul>
                            </li>
                            <li><a href="/galeria">Galeria<strong></strong></a></li>
                            <li><a href="/contacto">Contacto<strong></strong></a></li>
                        </ul>
                    </nav>
            </div>
            <div class="grid_3 omega">
                <p class="phone_txt"><small><i class="fas fa-phone"></i></small><span class="color1"> +56</span> 2 2833 4015</p>
            </div>

        </div>
    </div>
</header>