<%- include('includes/header', {tituloweb: 'Galeria'}); %>

<!--Hacia Arriba-->
<div id="back-top">Ir a Arriba</div>
<div class="main">
    <div class="div-content">  
        <div class="top_section">
            <div class="container_12">
                <div class="grid_12">
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <!--header-->
    <%- include('includes/menu2'); %>
    <!--contenido-->
    <div class="container_12">
        <div class="grid_12">
            <div class="wrapper">
                <h2>Galeria</h2>
                <div class="grid_10 prefix_1">
                    <div class="list_galeria responsive">
                        <ul id="galeria">
                            <li>
                                <figure><a href="/images/img_22.jpeg" class="magnifier2" ><img src="/images/img_22.jpeg" alt="" height="300px"><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_17.jpeg" class="magnifier2" ><img src="/images/img_17.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_13.jpeg" class="magnifier2" ><img src="/images/img_13.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_14.jpeg" class="magnifier2" ><img src="/images/img_14.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_15.jpeg" class="magnifier2" ><img src="/images/img_15.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_16.jpeg" class="magnifier2" ><img src="/images/img_16.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_18.jpeg" class="magnifier2" ><img src="/images/img_18.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_21.jpeg" class="magnifier2" ><img src="/images/img_21.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_10.jpeg" class="magnifier2" ><img src="/images/img_10.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                            <li>
                                <figure><a href="/images/img_24.jpeg" class="magnifier2" ><img src="/images/img_24.jpeg" alt=""><span class="zoom"></span></a></figure>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <a class="prev2" id="prev"  href="javascript:;"></a>
                        <a class="next2" id="prox"  href="javascript:;"></a> 
                    </div>
                </div>
            </div>
            <div class="clear">
                
            </div>
        </div>
    </div>
<%- include('includes/footer'); %>