<%- include('includes/header2'); %>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar'); %>
    <!-- /.navbar -->
    <!-- Sidebar Menu -->
    
    <%- include('includes/sidebar'); %>
    <!-- Content Wrapper-->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tablero</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contenido -->
        <section class="content">
            <div class="container-fluid">
            <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-teal">
                            <span class="info-box-icon"><i class="fa-regular fa-face-grin"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Pacientes</span>
                                <span class="info-box-number">10</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                </div>
                                <span class="progress-description"> 70% incremento en 30 días</span>
                            </div> <!-- /.info-box-content -->
                        </div> <!-- /.info-box -->
                    </div> <!-- /.col -->

                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-cyan">
                            <span class="info-box-icon"><i class="fa-regular fa-calendar-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Citas</span>
                                <span class="info-box-number">2</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                </div>
                                <span class="progress-description"> 70% decremento en 30 días</span>
                            </div> <!-- /.info-box-content -->
                        </div> <!-- /.info-box -->
                    </div> <!-- /.col -->

                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-blue">
                            <span class="info-box-icon"><i class="fa-regular fa-calendar-xmark"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Cancelados</span>
                                <span class="info-box-number">1</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%;  color:black;" ></div>
                                </div>
                                <span class="progress-description"> 70% incremento en 30 días</span>
                            </div> <!-- /.info-box-content -->
                        </div> <!-- /.info-box -->
                    </div> <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="info-box bg-purple">
                            <span class="info-box-icon"><i class="fa-solid fa-file-signature"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Constancias</span>
                                <span class="info-box-number">1</span>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 70%"></div>
                                </div>
                                <span class="progress-description"> 70% incremento en 30 días</span>
                            </div> <!-- /.info-box-content -->
                        </div> <!-- /.info-box -->
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-orange shadow-lg">
                            <div class="card-header">
                                <h3 class="card-title">Alarma 1</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                </div> <!-- /.card-tools -->
                            </div> <!-- /.card-header -->
                            <div class="card-body">
                                The body of the card
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                    <div class="col-md-3">
                        <div class="card card-orange shadow-lg">
                            <div class="card-header">
                                <h3 class="card-title">Alarma 2</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                </div> <!-- /.card-tools -->
                            </div> <!-- /.card-header -->
                            <div class="card-body">
                                The body of the card
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                    <div class="col-md-3">
                        <div class="card card-orange shadow-lg">
                            <div class="card-header">
                                <h3 class="card-title">Alarma 3</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                </div> <!-- /.card-tools -->
                            </div> <!-- /.card-header -->
                            <div class="card-body">
                                The body of the card
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                    <div class="col-md-3">
                        <div class="card card-orange shadow-lg">
                            <div class="card-header">
                                <h3 class="card-title">Alarma 4</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                </div> <!-- /.card-tools -->
                            </div> <!-- /.card-header -->
                            <div class="card-body">
                                The body of the card
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
                <hr>
                
            </div>
        </section> <!-- /.contenido -->
    </div> <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
            
<%- include('includes/footer2'); %>
</body>
</html>
