
<%- include('includes/header', {tituloweb: 'Nosotros'}); %>
<!-- Pa Arriba -->
<div id="back-top">Ir a Arriba</div>
<div class="main">
	<div class="div-content">  
		<div class="top_section">
			<div class="container_12">
				<div class="grid_12">
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

	<!--header-->
	<%- include('includes/menu'); %>

	<!--Contenido==-->
	<div class="container_12">
		<div class="grid_12">
			<div class="wrapper hline2 v2">
				<h2>Dra Maria Gabriela Herrera</h2>
				<img src="/images/img1.jpeg" alt="Foto Gabriela" class="img2" style="width: 380px;">
				<div class="box">
					<p><span class="color1">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>
				</div>
			</div>
			
			<div class="wrapper hline2 v3">
				<h2>Porque escogernos ?</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. </p>
				
				<div class="grid_5 alpha">
					<ul class="listWithMarker v2">
						<li><a href="#">Praesent vestibulum molestie lacus</a></li>
						<li><a href="#">Aenean nonummy</a></li>
						<li><a href="#">Hendrerit mauris phasellus porta</a></li>
					</ul>
				</div>
				
				<div class="grid_5 omega">
					<ul class="listWithMarker v2">
						<li><a href="#">Aenean nonummy hendrerit mauris</a></li>
						<li><a href="#">Fusce suscipit varius mi</a></li>
						<li><a href="#">Cum sociis natoque penatibus et</a></li>
					</ul>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

<%- include('includes/footer'); %>