<%- include('includes/header', {tituloweb: 'Servicios'}); %>

<!--Pa Arriba-->
<div id="back-top">Ir a Arriba</div>
<div class="main">
    <div class="div-content">  
        <div class="top_section">
            <div class="container_12">
                <div class="grid_12">
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

<!--header-->
<%- include('includes/menu'); %>

<!-- Contenido -->
<div class="container_12">
    <div class="grid_12">
        <div class="wrapper hline2 v4">
            <h2>Servicios Principales</h2>
            <div class="grid_6 alpha">
                <img src="images/page3_icon1.png" alt="" class="img4 no_resize">
                <div class="box">
                    <p><span class="color1">Praesent vestibulum molestie lacus.</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <a href="#" class="more_btn3">Leer más</a>
                </div>
            </div>
            
            <div class="grid_6 omega">
                <img src="images/page3_icon2.png" alt="" class="img4 no_resize">
                <div class="box">
                    <p><span class="color1">Praesent vestibulum molestie lacus.</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <a href="#" class="more_btn3">Leer más</a>
                </div>
            </div>
        </div>
        
        <div class="wrapper hline2 v5">
            <h2>Otros Servicios</h2>
            <div class="grid_6 alpha">
                <div class="wrapper marBot2">
                    <img src="images/page3_icon3.png" alt="" class="img4 no_resize">
                    <div class="box">
                        <p><span class="color1">Lorem ipsum dolor sit  amet</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        <a href="#" class="more_btn3">Leer más</a>
                    </div>
                </div>
                
                <div class="wrapper">
                    <img src="images/page3_icon4.png" alt="" class="img4 no_resize">
                    <div class="box">
                        <p><span class="color1">Sed ut perspiciatis unde</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        <a href="#" class="more_btn3">Leer más</a>
                    </div>
                </div>
            </div>
            
            <div class="grid_6 omega">
                <div class="wrapper marBot2">
                    <img src="images/page3_icon5.png" alt="" class="img4 no_resize">
                    <div class="box">
                        <p><span class="color1">Donec sagittis euismod purus</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        <a href="#" class="more_btn3">Leer más</a>
                    </div>
                </div>
                
                <div class="wrapper">
                    <img src="images/page3_icon6.png" alt="" class="img4 no_resize">
                    <div class="box">
                        <p><span class="color1">Proin ullamcorper urna et</span><br><br>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
                        <a href="#" class="more_btn3">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="wrapper">
            <h2>Funciones Principales</h2>
            <div class="grid_4 alpha">
                <img src="images/img2.jpeg" alt="" class="img5">
            </div>
            <div class="grid_3">
                <img src="images/img_12.jpeg" alt="" class="img5" style="height: 300px;">
            </div>
            <div class="grid_5 omega">
                <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                <ul class="listWithMarker v2">
                    <li><a href="#">Praesent vestibulum molestie lacus</a></li>
                    <li><a href="#">Aenean nonummy</a></li>
                    <li><a href="#">Hendrerit mauris phasellus porta</a></li>
                    <li><a href="#">Fusce suscipit varius mi. Cum so natoque</a></li>
                    <li><a href="#">Penatibus et magnis dis parturient montes</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%- include('includes/footer'); %>